@use "../shared/variables";

.MainContent {
  display: flex;
  color: variables.$text-color;
  align-content: center;
  justify-content: center;
  height: 87vh;
  background-color: variables.$content-backround-color;
  h2 {
    text-align: center;
  }
}